*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
keystore.properties
*.jks
/mudanzapp-keys/senha_app.txt
app-release.apk
output-metadata.json
*.dm
mudanzapp-keys/firebase-app-mudanza-652dae4a0536.json
google-services.json